/* windows.css */

.window-titlebar {
  background-color: #444;
  color: white;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.window-controls {
  display: flex;
}

.window-control-btn {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.window-control-btn img {
  width: 20px; /* Adjust size as needed */
  height: 20px;
}

.window-title {
  flex: 1; /* Title takes up remaining space */
  margin-left: 10px;
  font-weight: bold;
}


.resize-handle {
  position: absolute;
  width: 10px;
  height: 10px;
  background: transparent;
  z-index: 2;
}

.resize-top {
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  cursor: ns-resize;
}

.resize-bottom {
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  cursor: ns-resize;
}

.resize-left {
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  cursor: ew-resize;
}

.resize-right {
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  cursor: ew-resize;
}

.resize-top-left {
  top: 0;
  left: 0;
  cursor: nwse-resize;
}

.resize-top-right {
  top: 0;
  right: 0;
  cursor: nesw-resize;
}

.resize-bottom-left {
  bottom: 0;
  left: 0;
  cursor: nesw-resize;
}

.resize-bottom-right {
  bottom: 0;
  right: 0;
  cursor: nwse-resize;
}
